body{
    width: 900px;
    margin: auto auto;
   
}
h1{
    color:white;
    text-align: center;
}
h2{
    color: #ffffff;
    
}
h3{
    color: #ffffff;
    
}
img{
    width:  400px; height: 400px;
}
body{
background: url(115997.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

nav li{
    display: inline-block;
    padding: 5px;
  
}
nav{
    text-align: center;
 
}

a{
    color: red;
}

li{
    color: #ffffff;
}

p{
    color: white;
}
Fireemblem.jpg{
   width:  800px; height: 800px; 
}