body{
background: url(115997.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

h1{
    color:white;
    text-align: center;
}
nav li{
    display: inline-block;
    padding: 5px;
  
}
nav{
    text-align: center;
 
}
a{
    color: red;
}
h3{
    color: #ffffff;
}
img{
    width:  400px; height: 400px;
}
